<div class="container" style="margin-top: 60px">

    <div class="row" style="margin-bottom: 30px">
        <div class="col-md-2">
                <button class="btn btn-info"  ng-click="findMatch()" >Find Match</button>
        </div>
        <div class="col-md-4" style="margin-left: -50px">
            <button class="btn btn-primary"  ng-click="createRoom()" >Create Room</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" >
            <div class="box box-warning direct-chat direct-chat-info" id="messageBox">
                <chat-box></chat-box>
                <chat-input></chat-input>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ONLINE USERS
                </div>
                <div class="panel-body online-people" id="onlineBox">
                    <online-people></online-people>
                </div>
            </div>
        </div>
    </div>
    <div class="row">


    </div>
</div>








